@page
@model FavouritesModel

@using BattlestationHub.Models

@{
    ViewData["Title"] = "Favourite Setups";
    ViewData["ActivePage"] = ManageNavPages.Favourites;
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">

        @* <h4>Uploads:</h4> *@
        <ul>
            @foreach (var setup in Model.UserFavourites)
            {
                <a asp-controller="Setups" asp-action="Details" asp-route-id="@setup.Id">
                <li>@setup.SetupName</li>
                </a>
                
            }
        </ul>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
