@page
@model IndexModel

@using BattlestationHub.Models

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">

        <h4>Setups Uploaded by You:</h4>
        <ul>
            @foreach (var setup in Model.UserSetups)
            {
                <li>@setup.SetupName</li>
            }
        </ul>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
