@page
@model IndexModel

@using BattlestationHub.Models

@{
    ViewData["Title"] = "Uploads";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">

        @* <h4>Uploads:</h4> *@
        <ul>
            @foreach (var setup in Model.UserSetups)
            {
                <a asp-controller="Setups" asp-action="Details" asp-route-id="@setup.Id">
                    <li>@setup.SetupName</li>
                </a>
                
            }
        </ul>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
