@page
@model IndexModel

@using BattlestationHub.Models

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>Uploaded Battlestations</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row profile-setups-row">
    <div class="col-md-6">

        <ul>
            @foreach (var setup in Model.UserSetups)
            {
                <div class="card-holder">
                    <img src="@setup.ImgPath" alt="Card image cap">
                    <h3 class="card-title">@Html.DisplayFor(modelItem => setup.SetupName)</h3>
                    <a class="btn btn-primary" asp-controller="Setups" asp-action="Details" asp-route-id="@setup.Id">View</a>
                </div>

            }
        </ul>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
