@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Battlestation Hub!</h1>
    <p>Upload your battlestation to show off, or check out other users' setups.</p>
</div>
