@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Battlestation Hub!</h1>

    <div class="home-btn-holder">
        <a asp-controller="Setups" asp-action="Create">
            <button class="home-btn" role="button">
                <i class="bi bi-upload"></i> <br />
                Upload Battlestation
            </button>
        </a>

        <a asp-controller="Setups" asp-action="Index">
            <button class="home-btn" role="button">
                <i class="bi bi-display"></i> <br />
                Browse Setups
            </button>
        </a>

    </div>


</div>
