@model IEnumerable<BattlestationHub.Models.Setup>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<a asp-action="Create" class="btn btn-primary">Share your Battlestation</a>

<div class="setups-holder">

@foreach (var item in Model) {
    <div class="card-holder">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="@(item.ImgPath)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.SetupName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.SetupDesc)</p>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
}
</div>
