@model List<BattlestationHub.Models.Setup>
@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> _userManager

@{
    ViewData["Title"] = "Profile";
}

@{
    if (Model.Count > 0)
    {
        var user = await _userManager.FindByIdAsync(Model[0].UserId);
        if (user != null)
        {
            <div class="page-title-holder" id="profile-title-holder">
                <h1>Setups: @user.DisplayName</h1>
            </div>

        }
    }
}

<div class="page-content-holder">
    @foreach (var userSetup in Model)
    {

        <div class="card-holder profile-card-holder">
            <img src="@userSetup.ImgPath" alt="Card image cap">
            <h3 class="card-title">@userSetup.SetupName</h3>
            <a class="btn btn-primary" asp-controller="Setups" asp-action="Details" asp-route-id="@userSetup.Id">View</a>
        </div>
    }
</div>